language: go
go: "1.13"
# Using sudo triggers a real virtual machine as opposed to a container, which
# allows ghw to actually determine things like host memory or block storage...
sudo: required
script:
  - source ./.get-go-packages.sh
  - go test -v $GO_PACKAGES
  - go run cmd/ghwc/main.go
env:
  - GHW_TESTING_SKIP_GPU=1
  - GO111MODULE="on"
matrix:
  include:
    - os: linux
      go: "1.13"
    - os: linux
      go: "1.14.x"

    # Tests that ghw builds on MacOSX (even though there is currently only
    # support for block devices)
    #- os: osx
    #  go: "1.13"
    #- os: osx
    #  go: "1.14.x"
